In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

import sys 
sys.path.append('..')

from src import sp_cleaning as cl

In [2]:
df= pd.read_csv("../data/data_processed/transformacion.csv", low_memory=False)

In [3]:
cl.eda_preliminar(df)

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,记录数,Order.Date,Order.ID,Order.Priority,Product.ID,Product.Name,Profit,Quantity,Region,Row.ID,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum,Time Code,Country Code,Inflation(%),Exports_GDP(%),Imports_GDP(%),GDP_Growth(%)
22492,Furniture,Mejicanos,El Salvador,DP-130003,Darren Powers,0.00,LATAM,1,2012-04-18 00:00:00.000,MX-2012-146115,Medium,FUR-FU-10000110,"Deflect-O Door Stop, Black",0.000,2,Central,2390,59,Consumer,2012-04-25 00:00:00.000,Standard Class,4.607,San Salvador,Furnishings,2012,LATAM,16,YR2012,SLV,1.72973481581383,28.571061177444278,49.07751044484397,2.486379214570576
29533,Technology,Kano,Nigeria,BD-15601,Brendan Dodson,0.70,Africa,1,2013-03-19 00:00:00.000,NI-2013-1560,Medium,TEC-CIS-10003103,"Cisco Office Telephone, VoIP",-93.540,4,Africa,46624,97,Home Office,2013-03-19 00:00:00.000,Same Day,7.120,Kano,Phones,2013,Africa,12,YR2013,NGA,8.49551838265678,..,..,3.8144920768527157
43300,Technology,Rosny-sous-Bois,France,TS-213402,Toby Swindell,0.15,EU,1,2011-12-14 00:00:00.000,IT-2011-4264595,Medium,TEC-PH-10003153,"Samsung Signal Booster, with Caller ID",-40.977,2,Central,12898,232,Consumer,2011-12-18 00:00:00.000,Standard Class,18.180,Ile-de-France,Phones,2011,EU,51,YR2011,FRA,2.11159795174994,29.538847336075015,31.066788145565578,1.9443350855743233
22520,Furniture,Managua,Nicaragua,JM-152653,Janet Molinari,0.00,LATAM,1,2014-05-05 00:00:00.000,MX-2014-108980,Medium,FUR-FU-10002007,"Rubbermaid Stacking Tray, Black",1.340,1,Central,4398,17,Corporate,2014-05-12 00:00:00.000,Standard Class,1.020,Managua,Furnishings,2014,LATAM,19,YR2014,NIC,6.03596861798425,45.0079927886564,61.69006138072587,3.358931180852494

-------------------------------------
INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51243 entries, 0 to 51242
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        51243 non-null  object
 1   City            51243 non-null  object
 2   Country         51243 non-null  object
 3   Customer.ID     51243 non-null  object
 4   Customer.Name   51243 non-null  object
 5   Discount        51243 non-null  float64
 6   Market          51243 non-null  object
 7   记录数             51243 non-null  int64
 8   Order.Date      51243 non-null  object
 9   Order.ID        51243 non-null  object
 10  Order.Priority  51243 non-null  object
 11  Product.ID      51243 non-null  object
 12  Product.Name    51243 non-null  object
 13  Profit          51243 non-null  float64
 14  Quantity        51243 non-null  int64
 15  Region          51243 non-null  object
 16  Row.ID          51243 non-null  int64
 17  Sales           51243 non-null  int64
 18  Segment         51243 non-null  object
 19  Ship.Date       51243 non-null  object
 20  Ship.Mode       51243 non-null  object
 21  Shipping.Cost   51243 non-null  float64
 22  State           51243 non-null  object
 23  Sub.Category    51243 non-null  object
 24  Year            51243 non-null  int64
 25  Market2         51243 non-null  object
 26  weeknum         51243 non-null  int64
 27  Time Code       51243 non-null  object
 28  Country Code    51243 non-null  object
 29  Inflation(%)    51243 non-null  object
 30  Exports_GDP(%)  51243 non-null  object
 31  Imports_GDP(%)  51243 non-null  object
 32  GDP_Growth(%)   51243 non-null  object
dtypes: float64(3), int64(6), object(24)
memory usage: 12.9+ MB

None

-------------------------------------
NULOS

Category          0.0
City              0.0
Country           0.0
Customer.ID       0.0
Customer.Name     0.0
Discount          0.0
Market            0.0
记录数               0.0
Order.Date        0.0
Order.ID          0.0
Order.Priority    0.0
Product.ID        0.0
Product.Name      0.0
Profit            0.0
Quantity          0.0
Region            0.0
Row.ID            0.0
Sales             0.0
Segment           0.0
Ship.Date         0.0
Ship.Mode         0.0
Shipping.Cost     0.0
State             0.0
Sub.Category      0.0
Year              0.0
Market2           0.0
weeknum           0.0
Time Code         0.0
Country Code      0.0
Inflation(%)      0.0
Exports_GDP(%)    0.0
Imports_GDP(%)    0.0
GDP_Growth(%)     0.0
dtype: float64

-------------------------------------
DUPLICADOS

np.int64(0)

-------------------------------------
VALUE COUNTS
Category
Office Supplies    31246
Technology         10137
Furniture           9860
Name: count, dtype: int64
------------------------------------
City
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Santo Domingo    443
                ...
Tinley Park        1
Champaign          1
Elyria             1
Littleton          1
Nagaoka            1
Name: count, Length: 3633, dtype: int64
------------------------------------
Country
United States    9994
Australia        2837
France           2827
Mexico           2644
Germany          2065
                 ...
Bahrain             2
Eswatini            2
Eritrea             2
South Sudan         2
Burundi             2
Name: count, Length: 144, dtype: int64
------------------------------------
Customer.ID
JG-158051    40
WB-218504    37
BC-111252    37
AF-108701    36
NH-186101    35
             ..
RE-194054     1
MO-179501     1
JR-157004     1
CJ-118754     1
AO-108104     1
Name: count, Length: 4873, dtype: int64
------------------------------------
Customer.Name
Muhammed Yedwab        108
Steven Ward            106
Gary Hwang             102
Bill Eplett            102
Patrick O'Brill        102
                      ...
Catherine Glotzbach     35
David Bremer            34
Nicole Brennan          31
Darren Budd             31
Michael Oakman          29
Name: count, Length: 795, dtype: int64
------------------------------------
Market
APAC      10988
LATAM     10261
EU        10000
US         9994
EMEA       5029
Africa     4587
Canada      384
Name: count, dtype: int64
------------------------------------
Order.Date
2014-06-18 00:00:00.000    135
2014-11-18 00:00:00.000    127
2014-09-03 00:00:00.000    126
2014-11-20 00:00:00.000    118
2014-12-29 00:00:00.000    116
                          ...
2012-05-27 00:00:00.000      1
2011-04-24 00:00:00.000      1
2013-01-13 00:00:00.000      1
2012-07-15 00:00:00.000      1
2011-02-13 00:00:00.000      1
Name: count, Length: 1430, dtype: int64
------------------------------------
Order.ID
CA-2014-100111    14
NI-2014-8880      13
IN-2013-42311     13
IN-2012-41261     13
MX-2014-166541    13
                  ..
US-2013-162026     1
CA-2014-149076     1
CA-2014-104647     1
CA-2013-148593     1
MX-2013-115189     1
Name: count, Length: 25015, dtype: int64
------------------------------------
Order.Priority
Medium      29414
High        15482
Critical     3924
Low          2423
Name: count, dtype: int64
------------------------------------
Product.ID
OFF-AR-10003651    35
OFF-AR-10003829    31
OFF-BI-10003708    30
OFF-BI-10002799    30
FUR-CH-10003354    28
                   ..
TEC-MA-10003589     1
TEC-MA-10002412     1
OFF-PA-10001001     1
OFF-LA-10002473     1
OFF-ST-10001627     1
Name: count, Length: 10291, dtype: int64
------------------------------------
Product.Name
Staples                                                                                227
Cardinal Index Tab, Clear                                                               92
Eldon File Cart, Single Width                                                           90
Rogers File Cart, Single Width                                                          84
Ibico Index Tab, Clear                                                                  82
                                                                                      ...
Cisco SPA525G2 5-Line IP Phone                                                           1
Canon Color ImageCLASS MF8580Cdw Wireless Laser All-In-One Printer, Copier, Scanner      1
Bush Birmingham Collection Bookcase, Dark Cherry                                         1
Barricks Non-Folding Utility Table with Steel Legs, Laminate Tops                        1
Socket Bluetooth Cordless Hand Scanner (CHS)                                             1
Name: count, Length: 3788, dtype: int64
------------------------------------
Region
Central           11117
South              6645
EMEA               5029
North              4785
Africa             4587
Oceania            3487
West               3203
Southeast Asia     3129
East               2848
North Asia         2324
Central Asia       2048
Caribbean          1657
Canada              384
Name: count, dtype: int64
------------------------------------
Segment
Consumer       26490
Corporate      15417
Home Office     9336
Name: count, dtype: int64
------------------------------------
Ship.Date
2014-11-22 00:00:00.000    130
2014-09-07 00:00:00.000    115
2014-11-17 00:00:00.000    101
2014-12-07 00:00:00.000    101
2014-11-29 00:00:00.000    100
                          ...
2011-01-25 00:00:00.000      3
2015-01-07 00:00:00.000      3
2011-01-05 00:00:00.000      2
2011-01-06 00:00:00.000      2
2011-01-03 00:00:00.000      2
Name: count, Length: 1464, dtype: int64
------------------------------------
Ship.Mode
Standard Class    30754
Second Class      10307
First Class        7487
Same Day           2695
Name: count, dtype: int64
------------------------------------
State
California       2001
England          1499
New York         1128
Texas             985
Ile-de-France     981
                 ...
Lambayeque          1
Extremadura         1
Isparta             1
Río Negro           1
Wyoming             1
Name: count, Length: 1091, dtype: int64
------------------------------------
Sub.Category
Binders        6148
Storage        5058
Art            4881
Paper          3537
Chairs         3427
Phones         3356
Furnishings    3167
Accessories    3075
Labels         2602
Envelopes      2431
Supplies       2421
Fasteners      2414
Bookcases      2408
Copiers        2222
Appliances     1754
Machines       1484
Tables          858
Name: count, dtype: int64
------------------------------------
Market2
APAC             10988
North America    10378
LATAM            10261
EU               10000
EMEA              5029
Africa            4587
Name: count, dtype: int64
------------------------------------
Time Code
YR2014    17519
YR2013    13785
YR2012    10954
YR2011     8985
Name: count, dtype: int64
------------------------------------
Country Code
USA    9994
AUS    2837
FRA    2827
MEX    2644
DEU    2065
       ...
BHR       2
SWZ       2
ERI       2
SSD       2
BDI       2
Name: count, Length: 144, dtype: int64
------------------------------------
Inflation(%)
1.62222297740817    3319
1.46483265562717    2580
2.06933726526067    2102
3.156841568622      1993
..                  1193
                    ...
9.5921660597967        1
46.8521757193597       1
8.0928320630299        1
1.67429906295525       1
4.44083401028971       1
Name: count, Length: 512, dtype: int64
------------------------------------
Exports_GDP(%)
13.508214213223454    3319
13.553491881815447    2580
13.644051268705429    2102
13.563463782582932    1993
..                    1213
                      ...
28.809212878115094       1
9.696095319529226        1
38.04292161918008        1
30.3404241701511         1
19.369327824097983       1
Name: count, Length: 495, dtype: int64
------------------------------------
Imports_GDP(%)
16.3983551242045      3319
16.387814403007273    2580
17.037788306487585    2102
17.279014793331065    1993
..                    1213
                      ...
59.736289044944044       1
34.00927787209086        1
39.722817073074985       1
32.71903378475315        1
31.326766521557342       1
Name: count, Length: 495, dtype: int64
------------------------------------
GDP_Growth(%)
1.774699807487906      3319
1.4127416785577367     2580
1.541466234499694      2102
0.8289261739004701     1993
0.5193837554392076     1030
                       ...
1.6816760320111683        1
2.5506532692732122        1
5.030355209500598         1
-15.336687520710498       1
1.0712107178033818        1
Name: count, Length: 526, dtype: int64
------------------------------------

In [4]:
# Elimino columnas innecesarias
df = df.drop(columns=["记录数", "Market", "Customer.Name", "Region", "Row.ID", "Time Code", "Country Code"])

In [5]:
# Cambio el nombre de las columnas
df.columns = df.columns.str.replace(".", "_")
df.rename(columns={'Market2': 'Market', 'weeknum': 'Weeknum'}, inplace=True)

In [6]:
cl.convertir_col(df)

In [7]:
# Genero nuevas columnas a partir de Date
df['Month']= df['Order_Date'].dt.month    
df['Quarter']= df['Order_Date'].dt.quarter

In [8]:
df.sample(3)

,Category,City,Country,Customer_ID,Discount,Order_Date,Order_ID,Order_Priority,Product_ID,Product_Name,Profit,Quantity,Sales,Segment,Ship_Date,Ship_Mode,Shipping_Cost,State,Sub_Category,Year,Market,Weeknum,Inflation(%),Exports_GDP(%),Imports_GDP(%),GDP_Growth(%),Month,Quarter
36579,Office Supplies,Kaduna,Nigeria,DR-28801,0.7,2014-03-18,NI-2014-4550,High,OFF-ADV-10001437,"Advantus Paper Clips, Bulk Pack",-15.498,2,8,Corporate,2014-03-22,Standard Class,1.050,Kaduna,Fasteners,2014,Africa,12,8.047411,NaN,NaN,3.537573,3,1
35514,Furniture,Caracas,"Venezuela, RB",MK-179053,0.7,2011-08-31,US-2011-158001,High,FUR-TA-10004972,"Chromcraft Wood Table, Rectangular",-819.376,8,768,Corporate,2011-09-05,Standard Class,95.559,Distrito Capital,Tables,2011,LATAM,36,26.090212,29.943015,19.695107,2.848178,8,3
13004,Office Supplies,Jacareí,Brazil,JP-161353,0.0,2013-11-06,MX-2013-111437,Medium,OFF-AR-10000019,"BIC Highlighters, Blue",15.480,3,38,Home Office,2013-11-13,Standard Class,1.561,São Paulo,Art,2013,LATAM,45,6.204311,11.742231,14.043727,2.173331,11,4

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51243 entries, 0 to 51242
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        51243 non-null  object
 1   City            51243 non-null  object
 2   Country         51243 non-null  object
 3   Customer_ID     51243 non-null  object
 4   Discount        51243 non-null  float64
 5   Order_Date      51243 non-null  datetime64[ns]
 6   Order_ID        51243 non-null  object
 7   Order_Priority  51243 non-null  object
 8   Product_ID      51243 non-null  object
 9   Product_Name    51243 non-null  object
 10  Profit          51243 non-null  float64
 11  Quantity        51243 non-null  int64
 12  Sales           51243 non-null  int64
 13  Segment         51243 non-null  object
 14  Ship_Date       51243 non-null  datetime64[ns]
 15  Ship_Mode       51243 non-null  object
 16  Shipping_Cost   51243 non-null  float64
 17  State           51243 non-null  object
 18  Sub_Category    51243 non-null  object
 19  Year            51243 non-null  int64
 20  Market          51243 non-null  object
 21  Weeknum         51243 non-null  int64
 22  Inflation(%)    50050 non-null  float64
 23  Exports_GDP(%)  50030 non-null  float64
 24  Imports_GDP(%)  50030 non-null  float64
 25  GDP_Growth(%)   51229 non-null  float64
 26  Month           51243 non-null  int32
 27  Quarter         51243 non-null  int32
dtypes: datetime64[ns](2), float64(7), int32(2), int64(4), object(13)
memory usage: 10.6+ MB

In [10]:
# Guardo el archivo 

df.to_csv('../data/data_processed/limpieza.csv', index=False)